.container {
  position: relative;
  height: 100%;

  --prop-pane-padding-x: 16px;
  --prop-pane-padding-y: 10px;
}

.propContainer {
  height: 100%;
  overflow: hidden;
}

.moveHandle {
  position: absolute;
  top: 0;
  left: -5px;
  height: 100%;
  width: 10px;
}

.propPaneItem {
  height: 100%;

  :global(.ant-tabs) {
    height: 100%;
  }

  :global(.ant-tabs .ant-tabs-content-holder) {
    overflow: auto;
    padding-bottom: 12px;
  }

  :global(.ant-tabs .ant-tabs-nav) {
    margin-bottom: 0 !important;
    padding: 0 var(--prop-pane-padding-x);

    :global(.ant-tabs-tab) {
      color: #aaa;
      margin-left: 0;
      margin-right: var(--prop-pane-padding-x);
    }
  }

  :global(.ant-collapse) {
    background-color: transparent;

    :global(.ant-collapse-item) {
      border-bottom: 1px solid #efefef;
    }
  }
}