.container {
  display: grid;
  height: 100%;
  overflow: hidden;

  --groot-padding-x: 16px;
  --groot-padding-y: 10px;
}

.banner {
  grid-area: banner;
  background-color: #f3f3f3;
  overflow: hidden;
}

.activityBar {
  grid-area: activityBar;
  background-color: #2c2c2c;
  overflow: hidden;
}

.primarySidebar {
  grid-area: primarySidebar;
  background-color: #f3f3f3;
  overflow: hidden;
}

.secondarySidebar {
  grid-area: secondarySidebar;
  background-color: #f3f3f3;
  overflow: hidden;
}

.stage {
  grid-area: stage;
  overflow: hidden;
}

.panel {
  grid-area: panel;
  background-color: #f3f3f3;
  overflow: hidden;
}

.statusBar {
  grid-area: statusBar;
  background-color: #cc6633;
  overflow: hidden;
}