@import 'styles/util.less';

.currRelease,
.settings {
  margin: 0 8px;
}

.currRelease {
  >:global(.ant-btn) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.releaseOverlay {
  border-radius: 2px;
  background-color: #fff;
  .box-shadow;
}

.shortcutRelease {
  padding: 8px;
  border-bottom: solid 1px #efefef;
}

.recentRelease {
  overflow-y: auto;
  max-height: 300px;
}

.releaseItem {
  display: flex;
  height: 35px;
  line-height: 35px;
  padding-left: 8px;
  cursor: pointer;

  &:not(:last-of-type) {
    border-bottom: solid 1px #efefef;
  }

  &:hover {
    background-color: #efefef;
  }

  &.seaMoreRelease {
    justify-content: center;
  }
}

.releaseText {
  flex-grow: 1;
}


.title {
  flex-grow: 1;

  &:not(.searchMode) {
    background-color: #efefef;

    :global(.ant-input-affix-wrapper) {
      background-color: transparent;
      border-color: transparent;

      input {
        background-color: transparent;
      }
    }
  }
}