.containerWrap {
  padding: 16px;
}

.propItem:hover .propItemHeaderActions {
  display: block;
}

.propItemHeader {
  display: flex;
}

.propItemHeaderText {
  overflow: 'hidden';
  text-overflow: 'ellipsis'
}

.propItemHeaderActions {
  display: none;
  margin-left: auto;
}