.headerContainer {
  display: flex;
  padding: 10px 0;
  border-bottom: solid 1px #ddd;
  background-color: #f3f3f3;
}

.navContainer {
  display: flex;
  padding: 5px 0;
}

.content {
  flex-grow: 1;
}

.footerContainer {
  display: flex;
  padding: 0 5px;
  line-height: 28px;
  height: 28px;
  color: #fff;
  background-color: #0095ff;
}

.moveHandle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
}