.container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 40px 0;
}

.topBar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  z-index: 1;
  background-color: #fff;
}

.actionBar {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 40px;
}