.studio-form .ant-form-item-label>label {
  display: block !important;
  white-space: nowrap !important;
}

.studio-form .ant-form-item {
  margin-bottom: 8px !important;
}

.studio-tabs.ant-tabs .ant-tabs-nav {
  margin-bottom: 0 !important;
  padding: 0 10px;
}

.studio-tabs.ant-tabs .ant-collapse {
  background-color: transparent;

  .ant-collapse-item {
    border-bottom: 1px solid #f5f5f5;
  }
}